* {
  font-size: 12px;
  font-family: "微软雅黑";
  margin: 0;
  padding: 0;
  line-height: 1.5;
  border: 0;
  list-style: none;
}

img {
  border: 0;
  display: inline-block;
  vertical-align: top;
}

table { 
  border-collapse: collapse;
  font-size: 14px;
}

table th { text-align: center; }

.h168 {
  height: 168px;
  line-height: 168px;
}

.wp100 { width: 100%; }
.hp100 { height: 100%; }

.tac { text-align: center; }
.ov { overflow: hidden; }
.fr { float: right; }
.fl { float: left; }
.fwb { font-weight: bold; }
.dn { display: none }

.lh26 { line-height: 26px; }

.cor_01 { color: #333; }
.cor_02 { color: #666; }
.cor_03 { color: #999; }
.cor_04 { color: #c20; }

.bg_01 { background: #fff; }
.bg_02 { background: #e4393c; }
.bg_03 { background: #e44449 }
.bg_04 { background: #aaa }

.fz14 { font-size: 14px; }
.fz16 { font-size: 16px; }
.fz18 { font-size: 18px; }
.fz20 { font-size: 20px; }
.fz22 { font-size: 22px; }
.fz24 { font-size: 24px; }
.fz26 { font-size: 26px; }

.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr50 { margin-right: 50px; }

.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }


.pa10 { padding: 10px; }

.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }

.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }

.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }

.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }

input {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 14px;
  color: #999;
  background: #fff;
}

textarea {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #999;
  resize: none;
  background: #fff;
}

.table_01 { width: 100%; }
.table_01 thead { background: #999; }
.table_01 th { font-size: 16px;color: #fff; }
.table_01 th , .table_01 td { padding: 10px 0; }

.check_btn {
  float: left;
  width: 14px;
  height: 14px;
  border: 1px solid #d0d0d0;
  margin-right: 20px;
  background: #d0d0d0;
  border-radius: 50%;
  margin-top: 25px;
  cursor: pointer;
}

.check_btn:hover {
  border: 1px solid rgba(228,57,60,.54);
  background: rgba(228,57,60,.54);
}

.check_btn.checked {
  border: 1px solid #e4393c;
  background: #e4393c;
}

.product_img {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 10px;
}

.gift .txt{
  float: left;
  font-size: 14px;
  margin-right: 10px;
  font-size: 14px;
  color: #666;
}

.gift .gift_name {
  display: inline-block;
  color: #999;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.reduce_btn {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 24px;
  vertical-align: middle;
  color: #999;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  background: #f0f0f0;
  border-radius: 3px;
}

.ipt_01 {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  color: #666;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  margin: 0 10px;
  border-radius: 3px;
}

.del_btn_01 {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 5px;
  background: #f22d06;
  cursor: pointer;
}
.del_btn_01:hover { background: rgba(245,45,0,.76); }

.go_calc {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  background: #f22d06;
  cursor: pointer
}

.go_calc:hover { background: rgba(245,45,0,.8); }

.all_check {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #d0d0d0;
  margin-right: 10px;
  background: #d0d0d0;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.all_check.checked {
  border: 1px solid #e4393c;
  background: #e4393c;
}

.all_check_btn {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  color: #999;
}

.btn_all_product { color: rgba(245,45,0,.8); }

.btn_no_product:hover {
  background: rgba(245,45,0,.8);
  color: #fff;
}

.fixed_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 9;
  display: none;
}

.fixed_box.show {
  display: block;
}

.waring_box {
  position: absolute;
  width: 480px;
  left: 50%;
  top: 40%;
  margin-left: -240px;
  margin-top: -100px;
  background: #f0f0f0;
}

.operation_pop {
  overflow: hidden;
  background: #e44449;
}

.operation_title {
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.close_btn {
  float: right;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: "Times New Roman";
  cursor: pointer;
}

.sure_btn {
  display: inline-block;
  vertical-align: middle;
  width: 85px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px; 
}