<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="lianxi01.css">
  <script type="text/javascript" src="../js/vue.js"></script>
  <script src="../js/jquery.min.1.1.js"></script>
  <style>
    .btn_01 {
      padding: 0 15px;
    }
    .test_ipt {
      width: 200px;
      background: #cdcdcd;
    }
    .mb15 { margin-bottom: 15px; }
    .bb1 {
      border-bottom: 1px solid #ccc;
    }
    [v-cloak]{display:none;}
  </style>
</head>
<body>
  <div id="todo"  class="box">
    <input type="checkbox" v-model="show">切换
    <div :style="[{display:show?'block':'none'},styleObj2]">内容1</div>
    <div v-show="!show">内容2<br>内容2</div>
    <div v-if="show">内容3<br>内容3</div>
  </div>

<script>
/*
  v-text 可以绑定内容 要给每个表亲单独绑定
  v-cloak 可以给父级现不现实
  v-html  安全数据绑定 可以解析HTML标签
  v-pre   不解析数据

  v-show  判断是否显示
  v-if    判断是否生成标签  添加和删除dom
*/
  /*vue 实现*/
  new Vue({
    el:"#todo",
    data:{
      show:true,
      styleObj:{
        display:"block"
      },
      styleObj2:{
        background:"red"
      }
    }
  });
</script>
</body>

</html>